In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\python34\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\python34\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
import pandas as pd
import numpy as np

# Data Profiling

In [3]:
df_product = pd.read_excel("../business_department/product_list.xlsx")
print("Successfully read the data file")

Successfully read the data file

In [4]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    750 non-null    int64
 1   product_id    750 non-null    object
 2   product_name  750 non-null    object
 3   product_type  749 non-null    object
 4   price         750 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 29.4+ KB

In [5]:
null_prod_type = df_product.isnull().any(axis=1)
null_rows = df_product[null_prod_type]
print(null_rows)

     Unnamed: 0    product_id     product_name product_type  price
736         436  PRODUCT58030  bottle of paint          NaN  21.26

In [6]:
df_product.head(10)

,Unnamed: 0,product_id,product_name,product_type,price
0,0,PRODUCT16794,Grandmas swedish thin pancakes,readymade_breakfast,12.81
1,1,PRODUCT61957,Chili jack oven omelet,readymade_breakfast,9.95
2,2,PRODUCT23890,Baked pears,readymade_breakfast,10.04
3,3,PRODUCT52912,Best buttermilk pancakes,readymade_breakfast,5.83
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00
5,5,PRODUCT28708,Toasted sunny side up egg and cheese sandwiches,readymade_breakfast,13.55
6,6,PRODUCT00299,Pikelets australian pancakes,readymade_breakfast,15.23
7,7,PRODUCT38108,Scrambled eggs oeufs brouills,readymade_breakfast,7.28
8,8,PRODUCT17375,Baked pears,readymade_breakfast,9.92
9,9,PRODUCT26612,Moms cheat doughnuts,readymade_breakfast,6.78

In [7]:
df_product.tail(10)

,Unnamed: 0,product_id,product_name,product_type,price
740,440,PRODUCT44568,tool basket,tools,17.28
741,441,PRODUCT60168,colgate tooth paste,health and hygiene,6.11
742,442,PRODUCT24359,khaki pants,apparel,17.28
743,443,PRODUCT20330,axe,tools,17.28
744,444,PRODUCT62485,jar of pickles,grocery,17.28
745,445,PRODUCT35203,tomato,grocery,17.28
746,446,PRODUCT34682,bowl,kitchenware,17.28
747,447,PRODUCT07137,dehumidifier,electronics and technology,38.07
748,448,PRODUCT29484,rice,grocery,17.28
749,449,PRODUCT22046,dove deodorant,health and hygiene,6.11

In [8]:
df_product.iloc[100:300]

,Unnamed: 0,product_id,product_name,product_type,price
100,0,PRODUCT51619,Fresh mango bread,readymade_lunch,28.83
101,1,PRODUCT58549,Hoisin marinated wing pieces,readymade_lunch,21.42
102,2,PRODUCT11963,Italian deli wraps,readymade_lunch,36.47
103,3,PRODUCT45096,Caramelized onion focaccia bread machine,readymade_lunch,32.29
104,4,PRODUCT34562,Katos tasty salmon cream cheese surprise,readymade_lunch,11.91
...,...,...,...,...,...
295,95,PRODUCT58303,Curried pea soup,readymade_dinner,37.05
296,96,PRODUCT54450,Kittencals chicken cacciatore,readymade_dinner,47.34
297,97,PRODUCT55618,Jamaican pork tenderloin,readymade_dinner,46.66
298,98,PRODUCT62588,Ww potato gratin 5 points,readymade_dinner,31.92
299,99,PRODUCT58987,Pork chops with apples stuffing,readymade_dinner,52.31

In [9]:
print(df_product.nunique())

Unnamed: 0      450
product_id      743
product_name    642
product_type     25
price           333
dtype: int64

In [10]:
print(df_product.isnull().sum())

Unnamed: 0      0
product_id      0
product_name    0
product_type    1
price           0
dtype: int64

In [11]:
df_product['product_type'].unique()

array(['readymade_breakfast', 'readymade_lunch', 'readymade_dinner',
       'accessories', 'kitchenware', 'toys and entertainment', 'grocery',
       'apparel', 'furniture', 'health and hygiene', 'stationary',
       'tools', 'jewelry', 'technology', 'electronics and technology',
       'sports', 'cosmetics', 'stationary and school supplies',
       'school supplies', 'music', 'others', 'cleaning materials',
       'cosmetic', 'appliances', 'toolss', nan], dtype=object)

In [12]:
df_product[df_product.duplicated(['product_id'], keep=False)]

,Unnamed: 0,product_id,product_name,product_type,price
40,40,PRODUCT10592,Scrambled egg sandwiches with onions and red p...,readymade_breakfast,13.18
44,44,PRODUCT61036,Blueberry banana happy face pancakes,readymade_breakfast,8.09
62,62,PRODUCT47439,Purple cow,readymade_breakfast,10.89
150,50,PRODUCT62030,Delicious cheesy bacon and green onion potato ...,readymade_lunch,19.76
327,27,PRODUCT47439,pair of scissors,tools,17.28
401,101,PRODUCT62030,chocolate,grocery,17.28
437,137,PRODUCT10592,tooth pick,health and hygiene,6.11
462,162,PRODUCT50527,slipper,apparel,17.28
499,199,PRODUCT38223,safety pin,accessories,5.74
509,209,PRODUCT50527,sofa,furniture,38.07
542,242,PRODUCT38223,fishing hook,accessories,5.74
589,289,PRODUCT61036,pair of binoculars,tools,17.28
680,380,PRODUCT19599,oslo paper,stationary and school supplies,5.74
684,384,PRODUCT19599,Christmas ornament,furniture,38.07

In [13]:
df_product[df_product.duplicated(subset=['product_name','product_type'], keep=False)]

,Unnamed: 0,product_id,product_name,product_type,price
1,1,PRODUCT61957,Chili jack oven omelet,readymade_breakfast,9.95
2,2,PRODUCT23890,Baked pears,readymade_breakfast,10.04
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00
5,5,PRODUCT28708,Toasted sunny side up egg and cheese sandwiches,readymade_breakfast,13.55
6,6,PRODUCT00299,Pikelets australian pancakes,readymade_breakfast,15.23
...,...,...,...,...,...
361,61,PRODUCT17244,baseball,sports,8.72
552,252,PRODUCT47328,blouse,apparel,17.28
566,266,PRODUCT19879,table,furniture,38.07
639,339,PRODUCT59581,baseball,sports,19.51
721,421,PRODUCT22691,screwdriver,tools,17.28

In [14]:
print(df_product.shape)

(750, 5)

### Data Cleaning

#### Remove unnamed column

In [15]:
df_product = df_product.loc[:, ~df_product.columns.str.contains('^Unnamed')]

In [16]:
df_product.to_parquet("product_unnamed_removed.parquet")

#### Change product type of bottle of paint to tools

In [17]:
df_product.loc[df_product['product_name'] == 'bottle of paint', 'product_type'] = 'tools'

In [18]:
print(df_product.shape)

(750, 4)

### Setting up product type structure

In [19]:
#combine readymade breakfast, lunch and dinner as readymade_food
df_product.loc[df_product['product_type'] == 'readymade_breakfast', 'product_type'] = 'ready-made food'
df_product.loc[df_product['product_type'] == 'readymade_lunch', 'product_type'] = 'ready-made food'
df_product.loc[df_product['product_type'] == 'readymade_dinner', 'product_type'] = 'ready-made food'

In [20]:
#combine technology as electronics and technology
df_product.loc[df_product['product_type'] == 'technology', 'product_type'] = 'electronics and technology'

In [21]:
#change stationary to Stationary and School supplies
df_product.loc[df_product['product_type'] == 'stationary', 'product_type'] = 'stationary and school supplies'

In [22]:
#change school supplies to Stationary and School supplies
df_product.loc[df_product['product_type'] == 'school supplies', 'product_type'] = 'stationary and school supplies'

In [23]:
#change jewelry to accessory
df_product.loc[df_product['product_type'] == 'jewelry', 'product_type'] = 'accessories'

In [24]:
#change cosmetic to cosmetics
df_product.loc[df_product['product_type'] == 'cosmetic', 'product_type'] = 'cosmetics'

In [25]:
#change toolss to tools
df_product.loc[df_product['product_type'] == 'toolss', 'product_type'] = 'tools'

In [26]:
#checking product with other product type
df_product.loc[df_product['product_type'] == 'others']

       product_id product_name product_type  price
565  PRODUCT00534      balloon       others   8.13

In [27]:
#changing product type of product name balloon to toys and entertainment
df_product.loc[df_product['product_name'] == 'balloon', 'product_type'] = 'toys and entertainment'

In [28]:
df_product['product_type'].unique()

array(['ready-made food', 'accessories', 'kitchenware',
       'toys and entertainment', 'grocery', 'apparel', 'furniture',
       'health and hygiene', 'stationary and school supplies', 'tools',
       'electronics and technology', 'sports', 'cosmetics', 'music',
       'cleaning materials', 'appliances'], dtype=object)

In [29]:
df_product.to_parquet("product_type_merged.parquet")

### Removal of Same product name and type, only keeping the latest one

In [30]:
#removing same product name and product type, keeping only the newly added data
df_product = df_product.drop_duplicates(subset=["product_name","product_type"], keep="last")
print(df_product.shape)

(645, 4)

In [31]:
#removing product id, keeping only the newly added data (there may be some changes with product ids)
df_product = df_product.drop_duplicates(subset=['product_id'], keep='last')
print(df_product.shape)

(639, 4)

In [32]:
print(df_product.nunique())

product_id      639
product_name    636
product_type     16
price           235
dtype: int64

In [33]:
df_product.to_parquet("product_duplicates_removed.parquet")

### Additional Data Profiling after Cleaning

In [34]:
df_product[df_product.duplicated(['product_name'], keep=False)]

       product_id     product_name                product_type  price
309  PRODUCT07667          bow tie                 accessories   5.74
449  PRODUCT41178  washing machine  electronics and technology  38.07
467  PRODUCT24772        mouse pad  electronics and technology  38.07
484  PRODUCT55299          bow tie                     apparel  17.28
674  PRODUCT49380  washing machine                  appliances  23.24
677  PRODUCT20986        mouse pad                 accessories   5.74

### Additional Data Structure and Cleaning

In [35]:
#change product name bow tie to accessory
df_product.loc[df_product['product_name'] == 'bow tie', 'product_type'] = 'accessories'

In [36]:
#change product name washing machine to appliances
df_product.loc[df_product['product_name'] == 'washing machine', 'product_type'] = 'appliances'

In [37]:
#change product name mouse pad to accessories
df_product.loc[df_product['product_name'] == 'mouse pad', 'product_type'] = 'accessories'

In [38]:
#removing same product name and product type, keeping only the newly added data
df_product = df_product.drop_duplicates(subset=["product_name","product_type"], keep="last")
print(df_product.nunique())

product_id      636
product_name    636
product_type     16
price           235
dtype: int64

In [39]:
df_product.to_parquet("product_type_changes.parquet")

### Data Structure

In [40]:
#renaming columns
df_product = df_product.rename(columns={'price':'product_price'})

In [41]:
df_product['product_type'] = df_product['product_type'].str.upper()

In [42]:
df_product['product_name'] = df_product['product_name'].str.upper()

In [43]:
# Uppercase all columns
df_product.columns = df_product.columns.str.upper()

In [44]:
df_product.head(30)

,PRODUCT_ID,PRODUCT_NAME,PRODUCT_TYPE,PRODUCT_PRICE
0,PRODUCT16794,GRANDMAS SWEDISH THIN PANCAKES,READY-MADE FOOD,12.81
3,PRODUCT52912,BEST BUTTERMILK PANCAKES,READY-MADE FOOD,5.83
8,PRODUCT17375,BAKED PEARS,READY-MADE FOOD,9.92
9,PRODUCT26612,MOMS CHEAT DOUGHNUTS,READY-MADE FOOD,6.78
11,PRODUCT50553,CHEERY CHERRY MUFFINS,READY-MADE FOOD,7.53
17,PRODUCT06101,CHICKEN AND EGG ON RICE OYAKO DONBURI,READY-MADE FOOD,10.95
22,PRODUCT45809,SCRAMBLED EGGS OEUFS BROUILLS,READY-MADE FOOD,6.82
24,PRODUCT07816,EGG FLOWERS,READY-MADE FOOD,8.83
26,PRODUCT10771,SLEEPY TWISTED SISTERS G N G BREAKFAST RAMEKIN,READY-MADE FOOD,11.60
29,PRODUCT47927,HAM OMELET DELUXE,READY-MADE FOOD,13.87
32,PRODUCT34734,SHIRLEYS PLAIN OR BLUEBERRY MUFFINS,READY-MADE FOOD,13.33
33,PRODUCT57150,PUMPKIN GINGER SCONES WITH CINNAMON CHIPS,READY-MADE FOOD,11.69
35,PRODUCT20183,VANILLA FRUIT DIP,READY-MADE FOOD,15.41
38,PRODUCT45363,AWESOME ORANGE CHOCOLATE MUFFINS,READY-MADE FOOD,14.25
41,PRODUCT18058,EASY DANISH KRINGLE,READY-MADE FOOD,8.87
42,PRODUCT29464,SAUSAGE GRAVY FOR BISCUITS AND GRAVY,READY-MADE FOOD,11.94
45,PRODUCT58979,CHEF FLOWERS SIMPLE SUNDAY BRUNCH OMELETTE,READY-MADE FOOD,10.80
49,PRODUCT25962,CHILI JACK OVEN OMELET,READY-MADE FOOD,6.01
50,PRODUCT10695,BLUEBERRY BAKERY MUFFINS,READY-MADE FOOD,10.61
51,PRODUCT36392,CHEESECAKE KUGEL,READY-MADE FOOD,6.80
53,PRODUCT14085,BROILED CINNAMON TOAST,READY-MADE FOOD,8.01
54,PRODUCT36847,ENGLISH MUFFINS WITH BACON BUTTER,READY-MADE FOOD,12.29
57,PRODUCT08253,BERRY CREAM CHEESE COFFEE CAKE,READY-MADE FOOD,9.39
60,PRODUCT52456,EASY BREAKFAST CASSEROLE,READY-MADE FOOD,10.15
61,PRODUCT30026,MUFFIN TOPPINGS,READY-MADE FOOD,8.87
64,PRODUCT40035,ASPARAGUS OMELETTE WRAPS,READY-MADE FOOD,15.29
66,PRODUCT60217,PUMPKIN FRENCH TOAST WITH TOASTED WALNUTS,READY-MADE FOOD,5.89
68,PRODUCT27057,WHOLE GRAIN PANCAKE MIX,READY-MADE FOOD,8.44
70,PRODUCT31756,CREAMY SCRAMBLED EGGS IN THE MICROWAVE,READY-MADE FOOD,5.73
75,PRODUCT58777,BREAKFAST CASSEROLE SEASONED WITH COUNTRY GRAVY,READY-MADE FOOD,7.29

In [45]:
df_product.to_parquet("product_column_structure.parquet")

In [46]:
df_product.to_parquet("product_final_list.parquet")