In [1]:
import pandas as pd
import numpy as np
import sqlite3

# Read json
df_branch_service = pd.read_json("branch_service_transaction_info.json")
df_customer_transaction = pd.read_json("customer_transaction_info.json")

# Merge data frames
merged_df = pd.merge(df_branch_service, df_customer_transaction, on='txn_id')

In [2]:
#Delete duplicates
merged_df = merged_df.drop_duplicates()

In [3]:
# Standardize price
merged_df['price'] = merged_df['price'].round(2)

In [4]:
# Remove rows where price is null
merged_df = merged_df.dropna(subset=["price"])

# Remove rows where first_name is null
merged_df = merged_df.dropna(subset=["first_name"])

# Remove rows where last_name is null
merged_df = merged_df.dropna(subset=["last_name"])

#Remove rows where price is 0.00
merged_df = merged_df[merged_df['price'] > 0.00]

In [5]:
# Remove symbols in first_name
merged_df['first_name'] = merged_df['first_name'].str.replace('[^a-zA-Z\\s]', '', regex=True)

# Remove symbols in last_name
merged_df['last_name'] = merged_df['last_name'].str.replace('[^a-zA-Z\\s]', '', regex=True)

In [6]:
# Convert date columns to datetime format
merged_df['avail_date'] = pd.to_datetime(merged_df['avail_date'])
merged_df['birthday'] = pd.to_datetime(merged_df['birthday'])

In [7]:
# Convert to upper case
merged_df.loc[:, 'branch_name'] = merged_df['branch_name'].str.upper()
merged_df.loc[:, 'service'] = merged_df['service'].str.upper()
merged_df.loc[:, 'last_name'] = merged_df['last_name'].str.upper()
merged_df.loc[:, 'first_name'] = merged_df['first_name'].str.upper()

In [8]:
#remove entries where the age is less than 12 years and service is rebond
condition_to_remove = (merged_df['service'] == 'REBOND') & ((merged_df['avail_date'] - merged_df['birthday']).dt.days < 4380)
merged_df = merged_df[~condition_to_remove]

In [9]:
#remove entries where the age is less than 6 years and service is footspa
condition_to_remove = (merged_df['service'] == 'FOOTSPA') & ((merged_df['avail_date'] - merged_df['birthday']).dt.days < 2190)
merged_df = merged_df[~condition_to_remove]

In [10]:
#remov entries where the age is less than 10 years and service is hair color
condition_to_remove = (merged_df['service'] == 'HAIRCOLOR') & ((merged_df['avail_date'] - merged_df['birthday']).dt.days < 3650)
merged_df = merged_df[~condition_to_remove]

In [11]:
#remove entries where the age is less than 1 day
condition_to_remove = ((merged_df['avail_date'] - merged_df['birthday']).dt.days < 1)
merged_df = merged_df[~condition_to_remove]

In [12]:
#Remove invalid dates (Dates after 2023)
specific_date = pd.to_datetime('2024-01-01')
merged_df = merged_df[merged_df['avail_date'] < specific_date]

In [13]:
#Drop duplicates
merged_df = merged_df.drop_duplicates(subset=['service', 'avail_date', 'last_name', 'first_name', 'birthday'], keep='first')

In [14]:
#replace N/As with None
merged_df['branch_name'] = merged_df['branch_name'].replace('N/A', None)
merged_df['service'] = merged_df['service'].replace('N/A', None)

#replace blank spaces with None
merged_df['branch_name'] = merged_df['branch_name'].replace('', None)
merged_df['service'] = merged_df['service'].replace('', None)

In [16]:
# Calculate the start of the week and end of the week (always Sunday)
merged_df['start_date'] = merged_df['avail_date'] - pd.to_timedelta(merged_df['avail_date'].dt.dayofweek, unit='D')
merged_df['end_date'] = merged_df['start_date'].apply(lambda x: x + pd.DateOffset(weekday=6))

# Group by start date, end date, and branch_name, then sum the prices
result_df = merged_df.groupby(['start_date', 'end_date', 'service'])['price'].sum().to_frame()
result_df.head(10)

                                  price
start_date end_date   service
2004-12-27 2005-01-02 MANICURE    55.23
                      NAILCOLOR   60.24
                      PEDICURE   155.98
2005-01-03 2005-01-09 FOOTSPA    400.48
                      HAIRCOLOR   88.09
                      HAIRCUT    330.60
                      MANICURE    55.23
                      NAILCOLOR  120.48
                      PEDICURE   233.97
                      REBOND     400.23

In [17]:
db_connection = sqlite3.connect('data_cleaning.db')
cursor = db_connection.cursor()
result_df.to_sql('data_cleaning', db_connection, index=False, if_exists='replace')

# Commit changes and close the connection
db_connection.commit()
db_connection.close()