In [14]:
import pandas as pd
import numpy as np
import lxml
import html5lib
import phonenumbers as pn

In [15]:
df_merchant_list = pd.read_html('merchant_data.html')
df_merchant = df_merchant_list[0]

In [3]:
df_merchant.loc[:,'creation_date'] = pd.to_datetime(df_merchant['creation_date']).dt.date

In [4]:
df_merchant.to_parquet("convert_to_date.parquet")

In [5]:
df_merchant = df_merchant.sort_values(by='creation_date')

In [6]:
df_merchant.drop_duplicates()

df_merchant = df_merchant.drop_duplicates(subset=['merchant_id'],keep='last')

In [7]:
del df_merchant['Unnamed: 0']

In [8]:
df_merchant.loc[:, 'contact_number'] = df_merchant['contact_number'].str.replace(r'[^0-9]', '', regex=True)

In [9]:
df_merchant.loc[:, 'name'] = df_merchant['name'].str.upper()
df_merchant.loc[:, 'street'] = df_merchant['street'].str.upper()
df_merchant.loc[:, 'state'] = df_merchant['state'].str.upper()
df_merchant.loc[:, 'city'] = df_merchant['city'].str.upper()
df_merchant.loc[:, 'country'] = df_merchant['country'].str.upper()

In [10]:
df_merchant.columns = df_merchant.columns.str.upper()

In [11]:
df_merchant.to_parquet("fixed_merchant_data.parquet")

In [13]:
df_merchant.info()
df_merchant.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4812 entries, 2771 to 4905
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MERCHANT_ID     4812 non-null   object
 1   CREATION_DATE   4812 non-null   object
 2   NAME            4812 non-null   object
 3   STREET          4812 non-null   object
 4   STATE           4812 non-null   object
 5   CITY            4812 non-null   object
 6   COUNTRY         4812 non-null   object
 7   CONTACT_NUMBER  4812 non-null   object
dtypes: object(8)
memory usage: 338.3+ KB

,MERCHANT_ID,CREATION_DATE,NAME,STREET,STATE,CITY,COUNTRY,CONTACT_NUMBER
2771,MERCHANT32619,2020-01-01,PEV4ME.COM,99419 UNDERPASS BERG,ALABAMA,HOUSTON,NORTH MACEDONIA,7270557261
4125,MERCHANT39473,2020-01-01,STILLWATER SUPERCOMPUTING INC,935 CORNER LAND,WASHINGTON,TOLEDO,BELGIUM,9205789054
530,MERCHANT21747,2020-01-01,THE VANGUARD GROUP,4584 PORT LOCKS VILLE,INDIANA,LAREDO,SUDAN,7586307747
2397,MERCHANT31240,2020-01-01,"LUMESIS, INC.",991 WALL TOWN,ALABAMA,ARLINGTON,COMOROS,7286823471
4596,MERCHANT33792,2020-01-02,(LEG)CYTE,779 COVES MOUTH,UTAH,BOISE,MALDIVES,4339071910