In [1]:
import pandas as pd
import numpy as np
import lxml
import html5lib
import phonenumbers as pn

In [2]:
df_staff_list = pd.read_html('staff_data.html')
df_staff = df_staff_list[0]

In [4]:
df_staff.loc[:,'creation_date'] = pd.to_datetime(df_staff['creation_date']).dt.date

In [6]:
df_staff = df_staff.sort_values(by='creation_date')

In [3]:
df_staff.drop_duplicates()

df_staff = df_staff.drop_duplicates(subset=['staff_id'],keep='last')

In [5]:
del df_staff['Unnamed: 0']

In [7]:
df_staff.loc[:, 'contact_number'] = df_staff['contact_number'].str.replace(r'[^0-9]', '', regex=True)

In [8]:
df_staff.loc[:, 'name'] = df_staff['name'].str.upper()
df_staff.loc[:, 'job_level'] = df_staff['job_level'].str.upper()
df_staff.loc[:, 'street'] = df_staff['street'].str.upper()
df_staff.loc[:, 'state'] = df_staff['state'].str.upper()
df_staff.loc[:, 'city'] = df_staff['city'].str.upper()
df_staff.loc[:, 'country'] = df_staff['country'].str.upper()

In [9]:
df_staff.columns = df_staff.columns.str.upper()

In [10]:
df_staff.head(10)

,STAFF_ID,NAME,JOB_LEVEL,STREET,STATE,CITY,COUNTRY,CONTACT_NUMBER,CREATION_DATE
4226,STAFF0034102,RUSTY MULLER,ENTRY,75849 NEW SPRING MOUTH,NEBRASKA,WICHITA,SAINT KITTS AND NEVIS,4517491606,2020-01-01
3009,STAFF0014596,CANDIDO KOHLER,ENTRY,83408 NEW KEY BURGH,UTAH,HENDERSON,BOUVET ISLAND,5458031303,2020-01-02
917,STAFF0016402,SCHUYLER DURGAN,INTERMEDIATE,471 FORKS LAND,NEW YORK,OMAHA,NORTHERN MARIANA ISLANDS,3624273550,2020-01-03
3430,STAFF0015639,JOEY BINS,ENTRY,798 VILLAGE STAD,ARKANSAS,SEATTLE,ALBANIA,4832050084,2020-01-03
577,STAFF0032508,FLAVIO PRICE,ENTRY,962 CORNERS MOUTH,GEORGIA,CHARLOTTE,NORWAY,6644416626,2020-01-03
242,STAFF0021812,WILLIE BARTELL,ENTRY,7319 SPRING MOUTH,KENTUCKY,DURHAM,UKRAINE,5646806331,2020-01-04
4518,STAFF0024582,CHAYA CORKERY,INTERMEDIATE,5282 PORT POINTS BURGH,MASSACHUSETTS,NEW YORK CITY,CZECHIA,8285788848,2020-01-04
484,STAFF0051281,ORPHA LEFFLER,ENTRY,3671 PORTS SHIRE,CALIFORNIA,FORT WAYNE,BRUNEI DARUSSALAM,10692865283,2020-01-05
144,STAFF0043090,RHETT JACOBI,INTERMEDIATE,5789 PORT CROSSING BERG,NEVADA,MESA,LAO PEOPLE'S DEMOCRATIC REPUBLIC,14303770288,2020-01-05
4256,STAFF0018352,MARCELLA KOELPIN,ENTRY,91156 NORTH STRAVENUE SHIRE,NEW HAMPSHIRE,CHARLOTTE,NIGERIA,2011882792,2020-01-05

In [12]:
df_staff.to_parquet("fixed_staff_data.parquet")