In [6]:
import pandas as pd
import numpy as np
import lxml
import html5lib
import phonenumbers as pn

In [9]:
df_staff_list = pd.read_html('staff_data.html')
df_staff = df_staff_list[0]

In [10]:
df_staff.loc[:,'creation_date'] = pd.to_datetime(df_staff['creation_date']).dt.date

In [11]:
df_staff = df_staff.sort_values(by='creation_date')

In [12]:
df_staff.drop_duplicates()

df_staff = df_staff.drop_duplicates(subset=['staff_id'],keep='last')

In [13]:
del df_staff['Unnamed: 0']

In [14]:
df_staff.loc[:, 'contact_number'] = df_staff['contact_number'].str.replace(r'[^0-9]', '', regex=True)

In [15]:
df_staff.loc[:, 'name'] = df_staff['name'].str.upper()
df_staff.loc[:, 'job_level'] = df_staff['job_level'].str.upper()
df_staff.loc[:, 'street'] = df_staff['street'].str.upper()
df_staff.loc[:, 'state'] = df_staff['state'].str.upper()
df_staff.loc[:, 'city'] = df_staff['city'].str.upper()
df_staff.loc[:, 'country'] = df_staff['country'].str.upper()

In [16]:
df_staff.columns = df_staff.columns.str.upper()

In [11]:
df_staff.to_parquet("fixed_staff_data.parquet")

In [19]:

df_staff.info()
df_staff.head()

<class 'pandas.core.frame.DataFrame'>
Index: 4794 entries, 4226 to 2280
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   STAFF_ID        4794 non-null   object
 1   NAME            4794 non-null   object
 2   JOB_LEVEL       4794 non-null   object
 3   STREET          4794 non-null   object
 4   STATE           4794 non-null   object
 5   CITY            4794 non-null   object
 6   COUNTRY         4794 non-null   object
 7   CONTACT_NUMBER  4794 non-null   object
 8   CREATION_DATE   4794 non-null   object
dtypes: object(9)
memory usage: 374.5+ KB

,STAFF_ID,NAME,JOB_LEVEL,STREET,STATE,CITY,COUNTRY,CONTACT_NUMBER,CREATION_DATE
4226,STAFF0034102,RUSTY MULLER,ENTRY,75849 NEW SPRING MOUTH,NEBRASKA,WICHITA,SAINT KITTS AND NEVIS,4517491606,2020-01-01
3009,STAFF0014596,CANDIDO KOHLER,ENTRY,83408 NEW KEY BURGH,UTAH,HENDERSON,BOUVET ISLAND,5458031303,2020-01-02
917,STAFF0016402,SCHUYLER DURGAN,INTERMEDIATE,471 FORKS LAND,NEW YORK,OMAHA,NORTHERN MARIANA ISLANDS,3624273550,2020-01-03
3430,STAFF0015639,JOEY BINS,ENTRY,798 VILLAGE STAD,ARKANSAS,SEATTLE,ALBANIA,4832050084,2020-01-03
577,STAFF0032508,FLAVIO PRICE,ENTRY,962 CORNERS MOUTH,GEORGIA,CHARLOTTE,NORWAY,6644416626,2020-01-03